.letterContainer {
    position: relative;
    padding: 4px 8px;
    font-size: 16px;
}

.hidden {
    opacity: 0;
}

#nameSection .letterContainer::after {
    background: black;
    position: absolute;
    content: '';
    width: 75%;
    height: 2px;
    left: 12.5%;
    bottom: 0;
}

.space {
    width: 20px;
}

#nameSection {
    display: flex;
    flex-direction: row;
}

#personImage {
    height: 200px;
    width: auto;
}

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid grey;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }